<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NetPrint.Properties.Settings>
            <setting name="CartaPrinter" serializeAs="String">
                <value>Esclava</value>
            </setting>
            <setting name="OficioPrinter" serializeAs="String">
                <value>Oficio</value>
            </setting>
            <setting name="ColorPrinter" serializeAs="String">
                <value>Color</value>
            </setting>
            <setting name="INEPrinter" serializeAs="String">
                <value>Esclava</value>
            </setting>
            <setting name="ScannerDirectory" serializeAs="String">
                <value>D:\scaner</value>
            </setting>
            <setting name="CartaPrecio" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="CartaDuplexPrecio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CartaColorPrecio" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="OficioPrecio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OficioDuplexPrecio" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OficioColorPrecio" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="INEPrecio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="INEColorPrecio" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="X1" serializeAs="String">
                <value>-180</value>
            </setting>
            <setting name="Y1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X2" serializeAs="String">
                <value>-180</value>
            </setting>
            <setting name="Y2" serializeAs="String">
                <value>369</value>
            </setting>
        </NetPrint.Properties.Settings>
    </userSettings>
</configuration>